
body {
    background-color: #2D4164;
    background-image: url("image/Under-development.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 300px 300px;
    
    }
h1 {
    position: center;
}
.logo-container {
    background-image: url("image/Cybernewfy-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 5px solid red; 
    padding: 10px
}
.audio-container {
   width: 300px;
    height: 40px;
    margin: 20px auto;
    padding: 10px
    
}


